* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  transition: 0.5s;
  background-color: #282c34;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.container {
  width: 25rem;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  font-size: 1.2rem;
  padding: 12px;
  display: block;
  width: 100%;
  background-color: #61dafb;
  border-radius: 5px;
  border: none;
  color: #1f1f1f;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #21a1f1;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 20rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button {
    font-size: 1rem;
  }
}
